 <%- include('./partials/_header.ejs')  %> 



<h1>HELLO <%= name %>  </h1>
<form action="/logout" method="POST">
<button type="submit">logout</button>
</form>
<a href="/pay">Pay</a>


<%- include('./partials/_footer.ejs') %> 
